<?xml version="1.0"?>

<!-- 2017年11月01日　秋本 -->
<!-- つくばチャレンジ本番で使用するlaunch -->
<launch>



  <!-- urg_node_front  -->
  <node pkg="urg_node" type="urg_node" respawn="false" name="urg_node_front" output="screen">
    <param name="serial_port" value="/dev/ttyACM1"/>
    <param name="frame_id" value="laser_front"/>
    <param name="angle_min" value="-1.1345"/>
    <param name="angle_max" value="1.1345"/>
    <remap from="scan" to="scan_front"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="laser_to_base_link_front" args="0.10 0.0 0.20 0.0 0.0 3.14  /base_link /laser_front 100" />


  <!-- urg_node_back  -->
  <node pkg="urg_node" type="urg_node" respawn="false" name="urg_node_back" output="screen">
    <param name="serial_port" value="/dev/ttyACM2"/>
    <param name="frame_id" value="laser_back"/>
    <param name="angle_min" value="-2.2689"/>
    <param name="angle_max" value="2.2689"/>
    <remap from="scan" to="scan_back"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="laser_to_base_link_back" args="-0.45 0.0 0.30 3.14 0.0 0.0 /base_link /laser_back 100" />


  <!-- laser_merge launchに混ぜれるようにコードを変えました -->
  <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
    <param name="destination_frame" value="/base_link"/>
    <param name="scan_destination_topic" value="/scan"/>
    <param name="laserscan_topics" value ="/scan_front /scan_back" />
  </node>

  <!--serial-->
  <node pkg="serial_communication" type="serial_communication" name="serial_communication" output="screen"/>

</launch>
