<?xml version="1.0"?>

<launch>
  <master auto="start"/>
  <!-- 外部変更するための変数  ここでは使わないものもあるが変更するな-->
  <!-- マップ用のパス-->
  <arg name="map_path" />
  <!-- 修正したマップ用のパス-->
  <arg name="remap_path" />
  <!-- waypointのパス-->
  <arg name="waypoint_path" />
  <!-- 修正したwaypointのパス-->
  <arg name="rewaypoint_path" />
  <!-- branchpointのパス-->
  <arg name="branchpoint_path"/>
  <!-- 最終的なwaypointのパス-->
  <arg name="finalwaypoint_path"/>
  <!-- branchpointのwaypointでのindexのパス-->
  <arg name="branchpoint_index_path"/>
  <!-- データ収集bag用のパス-->
  <arg name="data_gather_bag_path" />
  <!-- 本番bag用のパス-->
  <arg name="production_bag_path" />

  <!-- person detection -->
  <node pkg="2019_autonomous_mobile_robot" type="velodyne_detection" name="velodyne_detection">
    <param name="velodyne_height" value="1.1" />
    <param name="TmpWidth" type="int" value="640" />
    <param name="TmpHeight" type="int" value="480" />
    <param name="voxel_size" value="0.01" />
    <param name="seg_point_min" value="10.0" />
    <param name="seg_point_max" value="1000.0" />
    <param name="seg_distance" value="0.05" />
  </node>


  <!-- navigation to person -->
  <!--<node pkg="2019_autonomous_mobile_robot" type="person_manager" name="person_manager" output="screen">-->
  <node pkg="navigation_tester" type="navigation_tester" name="navigation_tester" output="screen">
    <param name="read_file" value="$(arg rewaypoint_path)"/>
    <param name="fileName" value="/home/robo/Check_lastWaypoint/last_waypoint.txt"/>
    <param name="distance" value="1.5"/>
    <!-- 後に下がる時間 -->
    <param name="time_limit" value="5.0"/>
    <!-- 後に下がる速度 -->
    <param name="back_vel" value="-0.1"/>
    <param name="start_point" value="0"/> <!-- 298 door 164 search_area 80 tenji -->
    <!-- 0なら3Dの地図，1なら2Dの地図 -->
    <param name="map_flag" value="1"/>
    <param name="danger_scan_count" value="50"/>
    <param name="danger_range_x" value="0.3"/>
    <param name="danger_range_y" value="0.4"/>
    <remap from="/cmd_vel" to="/cmd_vel"/>
  </node>


  <node pkg="2019_autonomous_mobile_robot" type="waypoint_publisher" name="waypoint_publisher">
    <param name="read_file" value="$(arg rewaypoint_path)"/>
  </node>


  <node pkg="tf" type="static_transform_publisher" name="poly" args="0 0 0 0 0 0 /my_frame /map 100"/>

</launch>
